app/run.py
app/__pycache__
AWSCLIV2.pkg
tweets.csv
tweets-cleaned.csv
roberta.ipynb
model-files/TD-IDF-explanation.png
model-files/stop-words2.txt
model-files/negative_tweets.json
model-files/positive_tweets.json
model-files/tweets2.csv
model-files/positive-cleaned.csv
model-files/negative-cleaned.csv
tweets3.csv
app/naive_bayes_model.pkl